@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-orbitron: 'Orbitron', sans-serif;
}

body {
  font-family: var(--font-orbitron);
  background-color: #0b0b0b;
  color: #f5f5f5;
}
